<% html_title t(:label_administration), t("label_project_group_roles") %>

<%= render(Primer::OpenProject::PageHeader.new) do |header|
      header.with_title { t("project_groups.admin.title") }
      header.with_description { t("project_groups.admin.intro") }
      header.with_breadcrumbs(
        [{ href: admin_index_path, text: t("label_administration") },
         { href: admin_settings_users_path, text: t(:label_user_and_permission) },
         t("project_groups.admin.title")]
      )
    end %>

<%= render(Primer::Beta::BorderBox.new) do |box| %>
  <% box.with_header do |header| %>
    <% header.with_title(tag: :h2) do %><%= t("label_group_plural") %><% end %>
  <% end %>

  <% @groups.each do |group| %>
    <% roles = group.project_group_role_set.to_a.sort_by(&:name) %>
    <% box.with_row do %>
      <div class="d-flex flex-items-center flex-justify-between">
        <div class="d-flex flex-items-center" style="gap: .25rem; flex-wrap: wrap;">
          <span class="text-bold mr-2"><%= group.name %></span>
          <% roles.each do |role| %>
            <%= render(Primer::Beta::Label.new(scheme: :secondary, mr: 1)) { role.name } %>
          <% end %>
          <% if roles.empty? %>
            <span class="color-fg-muted">&mdash;</span>
          <% end %>
        </div>
        <%= render(Primer::Beta::Button.new(tag: :a, size: :small,
                                            href: edit_project_groups_admin_group_role_path(group))) do |button|
              button.with_leading_visual_icon(icon: :pencil)
              t("project_groups.admin.button_edit")
            end %>
      </div>
    <% end %>
  <% end %>

  <% if @groups.empty? %>
    <% box.with_row do %>
      <%= render(Primer::Beta::Blankslate.new(border: false)) do |slate|
            slate.with_visual_icon(icon: :people)
            slate.with_heading(tag: :h2) { t("project_groups.admin.no_groups") }
          end %>
    <% end %>
  <% end %>
<% end %>
